---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=IBM Plex Sans');
@import url('https://fonts.googleapis.com/css?family=IBM Plex Mono');

$font-main: 'IBM Plex Sans', sans-serif;
$font-code: 'IBM Plex Sans', monospace;

///
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback), 
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  
  @if $fallback {
    font-size: $fallback;
  }
  
  font-size: $responsive;
}

:root {
    --dark-background-color: #111111;
    --dark-text-color: #d3dae3;
    --dark-text-color-h3: #5294e2;
    --dark-text-color-alt: #d3dae3;
}

h1 {
  @include responsive-font(1.5vmax, 26px);
}

h2 {
  @include responsive-font(1.2vmax, 22px);
}

h3 {
  @include responsive-font(1.2vmax, 22px);
}

p, li {
  @include responsive-font(0.7vmax, 17px);
}

body {
    background-color: #ffffff;
    color: #727272;
}

* {
  font-family: $font-main;
}

code {
  font-family: $font-code;
  padding: 1px;
}

.view {
  display: inline;
  line-height: 120%;
}

footer {
    visibility: hidden;
}


/**
* Dark theme stuff.
**/
body.theme-dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

h3.theme-dark, h4.theme-dark, h5.theme-dark, h6.theme-dark {
    color: var(--dark-text-color-h3);
}

code.theme-dark {
    color: var(--dark-text-color-alt);
}

strong.theme-dark {
    color: var(--dark-text-color-alt);
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--dark-background-color);
        --text-color: var(--dark-text-color);
    }
}

/**
 * Remove theme's bolding effect of links on hover, causing the width of the
 * text to increase, causing lines to shift. Instead, emulate the visual effect
 * of bolding without modifying text size.
 */
a:hover {
  font-weight: unset;
  text-shadow: 0px 0px 1px #069;
}

// Why is select such a cursed thing?
select {
    -webkit-appearance: none;
    -moz-appearance : none;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 5px 3px;
    background-color: #ffffff;
    text-color: #727272;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    padding-left: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
}

select.theme-dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color-alt);
    border: 1px solid #32343d;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
