---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=IBM Plex Sans');
@import url('https://fonts.googleapis.com/css?family=IBM Plex Mono');

$font-main: 'IBM Plex Sans', sans-serif;
$font-code: 'IBM Plex Sans', monospace;

:root {
    --dark-background-color: #111111;
    --dark-text-color: #eeeeee;
    --dark-text-color-h3: #727870;
}

body {
    background-color: #ffffff;
    text-color: #727272;
}

* {
  font-family: $font-main;
}

code {
  font-family: $font-code;
  padding: 1px;
}

.view {
  display: inline;
  line-height: 120%;
}

footer {
  display: block;
  line-height: 150%;
  bottom: 10px;
  position: fixed;
}

@media (max-height: 400px) {
  footer {
    visibility: hidden;
  }
}

/**
* Dark theme stuff.
**/
body.theme-dark {
    background-color: var(--dark-background-color);
    text-color: var(--dark-text-color);
}

h3.theme-dark, h4.theme-dark, h5.theme-dark, h6.theme-dark {
    color: var(--dark-text-color-h3);
}

code.theme-dark {
    color: var(--dark-text-color);
}

strong.theme-dark {
    color: var(--dark-text-color-h3);
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--dark-background-color);
        --text-color: var(--dark-text-color);
    }
}

/**
 * Remove theme's bolding effect of links on hover, causing the width of the
 * text to increase, causing lines to shift. Instead, emulate the visual effect
 * of bolding without modifying text size.
 */
a:hover {
  font-weight: unset;
  text-shadow: 0px 0px 1px #069;
}
