<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv='Content-Security-Policy' content="default-src 'self' ; script-src 'self' ; style-src 'self' fonts.googleapis.com ; font-src 'self' fonts.gstatic.com ; img-src 'self' data: *.imgur.com *.w3.org; media-src 'self' ; frame-src 'self';">
    <meta http-equiv="X-Content-Type-Options" content="nosniff" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <img src="{{site.logo | relative_url}}" alt="Mantaro" />
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <strong>Theme:  </strong>
        <select id="theme">
          <option value="light">Light</option>
          <option value="dark">Dark</option>
        </select>
      </header>
      <section>
      {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
  <script src="{{ base.url | prepend: site.url }}/assets/script.js"></script>
</html>
