<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <img src="{{site.logo | relative_url}}" alt="Mantaro" />
        <p>{{ site.description | default: site.github.project_tagline }}</p>
 
        <p class="view"><a href="{{ site.wiki_url }}">●  Wiki</a></p><br>
        <p class="view"><a href="{{ site.support_url }}">●  Support Server</a></p><br>
        <p class="view"><a href="{{ site.patreon_url }}">●  Support me on Patreon</a></p><br>
        <p class="view"><a href="{{ site.twitter_url }}">●  Follow me on Twitter</a></p><br>
        <p class="view"><a href="{{ site.github.owner_url }}">●  Mantaro's GitHub Profile</a></p><br>
        <p class="view"><a href="{{ site.invite_url }}">●  Invite Mantaro to your server</a></p><br>
        
        <select id="theme">
          <option value="auto">Auto</option>
          <option value="light">Light</option>
          <option value="dark">Dark</option>
      </select>
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        <p class="view"><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p><br>
        <p class="view"><small>Thanks you for passing by <3</a></small></p><br>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
  <script src="{{ base.url | prepend: site.url }}/assets/script.js"></script>
</html>
